development: &default
  db_host: localhost
  db_schema: weight_battle
  db_user: root
  db_password: ~
  logging: true
  log_file: ~
  memcached: localhost:11211
  expire_after: 3600
  message:
    registrant:
      is_null: お名前を入力して下さい。
    weight_before:
      is_null: 開始時体重を入力して下さい
    weight_after:
      is_null: 終了時体重を入力して下さい
    updown:
      is_nul: 増減を選択して下さい
    sex:
      is_null: 性別を選択して下さい
    unkown: エラーが発生しました。再入力して下さい。
    is_not_digit: 数字で入力して下さい
  app_name: 目標達成コンテスト
staging:
  <<: *default
  logging: false
  db_user: mysql
  db_password: mysql
production:
  <<: *default
  logging: false
  expire_after: 2592000
